<html>
<head>
<title>gamer heghog</title>
<link rel="stylesheet" href="style css"/>
<header>
<body>
<h1 style="text-align:center">Магазин ігрових девайсів "Крутий їжачок"</h1>
<nav>
<a href="">Магазини</a>
<a href="">Комп`ютери</a> 
<a href="">Наша Історія</a>
<a class="contacts2" href="">Про нас</a>
</nav>
</body>
</header>
<main>
<h2>Про нас:</h2>
<h2>Ми ігрова компанія Їжачок.</h2><p>Ми робимо такі ігрові девайси як:мишки, клавіатури, коврики для мишки, монітори, наушники та багато іншого!</p>
<h2>Наша істроія:</h2><p>Засновники цієї компанії це Вітя і Діма.Вони любили їжачків і вирішили зробити компанію ігрових девайсів Їжачок.</p>
<h2>Магазини:</h2><p>Наші магазини розташовані по всій європі!Всього нас в європі 1482 магазина!</p>
<h2>Комп`ютери:</h2><p>Останнім Часом ми почали робити компуктери дорогі але дуже потужні.Ми набираємо людей які в цьому розбираються!</p>
</main>
<footer>
<h1><b><i>Контакти</i></b></h1>
<i><p>Місто Грейпфрукта</p>
<p>Вулиця кітікета 52 дім 42</p>
<p>Тел:1488-5242-26853</p></i>
</footer>
<br/>
<a class="contacts" href="">Зв`язатися</a>
</html>
